---
import download from '../assets/download.svg';
---

<section class="hero-container">
  <div class="blur-layer"></div>
  <div class="hero-content">
    <a class="logo" href="https://apps.apple.com/us/app/shimmr-meditation-sleep/id6479964631?itscg=30200&itsct=apps_box_artwork&mttnsubad=6479964631">
      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/c6/02/f4/c602f423-680c-e10c-d402-ffa399002e04/AppIcon-0-1x_U007ephone-0-1-85-220-0.jpeg/540x540bb.jpg" 
           alt="Shimmr: Meditation & Sleep" />
    </a>

    <div class="content">
      <h1>Discover Your Inner Calm</h1>
      <p>A beautifully crafted experience designed to enhance sleep, reduce stress, and elevate focus through immersive soundscapes.</p>
      
      <div class="download-options">
        <a href="https://apps.apple.com/us/app/shimmr-meditation-sleep/id6479964631?itscg=30200&itsct=apps_box_badge&mttnsubad=6479964631">
          <img src="https://toolbox.marketingtools.apple.com/api/v2/badges/download-on-the-app-store/black/en-us?releaseDate=1721865600" 
               alt="Download on the App Store" />
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-container {
    margin: 0 auto;
    border-radius: 2rem;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-height: 600px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.519) 0%, rgba(22, 22, 22, 0.387) 100%), url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    z-index: 0;
    border-radius:2rem;
  }

  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    z-index: 1;
  }

  .logo img {
    max-width: 150px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .logo img:hover {
    transform: scale(1.05);
  }

  .content {
    max-width: 600px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    color: #b3b3b3;
    font-weight: 300;
    margin: 12px 0 24px;
  }

  .download-options img {
    width: 180px;
    transition: transform 0.2s ease;
  }

  .download-options img:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {

    .hero-container {
padding: 8px;

    }
    h1 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>